<h2>Departamentos</h2>

<fieldset>
  <legend>Novo Departamento</legend>
  <div>
    <label>Nome:</label>
    <input type="text" [(ngModel)]="newDepartment.name" />
    <span class="error" *ngIf="showMessageError">Campo obrigatório</span>
  </div>

  <input type="button" value="Salvar" (click)="saveDepartment()">
</fieldset>

<ul>
  <li *ngFor="let department of departments">
    <span>{{ department.name }}</span>
    <input type="button" value="Editar" (click)="editDepartment(department)" />
    <input type="button" value="Excluir" (click)="deleteDepartment(department)" />
  </li>
</ul>