h1 {
    text-align: center;
    font-size: 50px;
    color: #808070;
}

nav {
    width: 240px;
    margin: 0 auto;
}

a {
    width: 150px;
    height: 20px;
    padding: 10px;
    text-align: center;
    margin-right: 5px;
    border: 1px solid black;
    border-radius: 30px;
    background-color: #3498DB;
    text-decoration: none;
}

a:hover, a:active, a:visited {
    color: white;
    font-size: 16px;
}
