<h1>Cadastro de Cartas</h1>

<div>
  <label for="name">Nome Remetente:
    <input [(ngModel)]="newCarta.remetente" type="text">
  </label>

  <label for="name">Endereço Remetente:
    <input [(ngModel)]="newCarta.enderecoRemetente" type="text">
  </label>

  <label for="name">CEP Remetente:
    <input [(ngModel)]="newCarta.cepRemetente" type="text">
  </label>

  <label for="name">Nome Destinatário:
    <input [(ngModel)]="newCarta.destinatario"  type="text">
  </label>

  <label for="name">Endereço Destinatário:
    <input [(ngModel)]="newCarta.enderecoDestinatario" type="text">
  </label>

  <label for="name">CEP Destinatário:
    <input [(ngModel)]="newCarta.cepDestinatario" type="text">
  </label>

  <label for="content">Conteúdo:
    <input [(ngModel)]="newCarta.content" type="text">
  </label>

  <input (click)="addNewCarta()" type="button" value="Salvar">
</div>

<h2 *ngIf="cartas.length > 0">Cartas:</h2>

<div *ngFor="let carta of cartas" class="carta-card">
  <p>Remetente: {{ carta.remetente }}</p>
  <p>Endereço Remetente: {{ carta.enderecoRemetente }}</p>
  <p>CEP Remetente: {{ carta.cepRemetente | cep }}</p>
  <p>Destinatário: {{ carta.destinatario }}</p>
  <p>Endereço Destinatário: {{ carta.enderecoDestinatario }}</p>
  <p>CEP Destinatário: {{ carta.cepDestinatario | cep }}</p>
  <p>Conteúdo:</p>
  <textarea>{{ carta.content }}</textarea>
</div>